#include <windows.h>

101 ICON "icon\\MiraView.ico"
1 RT_MANIFEST "app.manifest"

1 VERSIONINFO
 FILEVERSION 0,4,1,0
 PRODUCTVERSION 0,4,1,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "MiraView Project\0"
            VALUE "FileDescription", "MiraView image viewer with RTX Video Enhancement\0"
            VALUE "FileVersion", "0.4.1\0"
            VALUE "InternalName", "MiraView\0"
            VALUE "OriginalFilename", "MiraView.exe\0"
            VALUE "ProductName", "MiraView\0"
            VALUE "ProductVersion", "0.4.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
